version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: mysql
    env_file:
      - ./env/mysql.env
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network
    ports:
      - "3306:3306"

  php1:
    build:
      context: .
    container_name: php1
    env_file:
      - ./env/php1.env
    volumes:
      - .:/var/www/html
    depends_on:
      - db
    networks:
      - app-network

  php2:
    build:
      context: .
    container_name: php2
    env_file:
      - ./env/php2.env
    volumes:
      - .:/var/www/html
    depends_on:
      - db
    networks:
      - app-network

  nginx1:
    image: nginx:latest
    container_name: nginx1
    volumes:
      - ./nginx/nginx1.conf:/etc/nginx/conf.d/default.conf
      - .:/var/www/html
    ports:
      - "8081:80"
    depends_on:
      - php1
    networks:
      - app-network

  nginx2:
    image: nginx:latest
    container_name: nginx2
    volumes:
      - ./nginx/nginx2.conf:/etc/nginx/conf.d/default.conf
      - .:/var/www/html
    ports:
      - "8082:80"
    depends_on:
      - php2
    networks:
      - app-network

volumes:
  db_data:

networks:
  app-network:
