version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravel
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"

  php1:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: php1
    volumes:
      - .:/var/www/html
    environment:
      - DB_HOST=db
      - DB_DATABASE=laravel
      - DB_USERNAME=laravel
      - DB_PASSWORD=laravel
      - APP_SERVER_NAME=Serveur 1
    depends_on:
      - db

  php2:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: php2
    volumes:
      - .:/var/www/html
    environment:
      - DB_HOST=db
      - DB_DATABASE=laravel
      - DB_USERNAME=laravel
      - DB_PASSWORD=laravel
      - APP_SERVER_NAME=Serveur 2
    depends_on:
      - db

  nginx1:
    image: nginx:latest
    container_name: nginx1
    volumes:
      - ./nginx1.conf:/etc/nginx/conf.d/default.conf
      - .:/var/www/html
    ports:
      - "8081:80"
    depends_on:
      - php1

  nginx2:
    image: nginx:latest
    container_name: nginx2
    volumes:
      - ./nginx2.conf:/etc/nginx/conf.d/default.conf
      - .:/var/www/html
    ports:
      - "8082:80"
    depends_on:
      - php2

volumes:
  db_data:
